

body {
    font-family: Cambria, sans-serif;
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    text-align: center;
    cursor: crosshair;
}

a {
    text-decoration: none;
    color: aquamarine;
}

a:hover {
    color: deeppink;
    cursor: pointer;
    text-decoration: underline;
}

p:hover {
    cursor: wait;
}

.link {
    font-size: 28px;
    border: 8px solid red;
}

.link p {
    font-size: 18px;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
}