@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.container {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: darksalmon;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
}